.PageAboutSkillsDiv {
  width: 100%;
  margin-bottom: 112px;
  margin-top: 57px;
}

.PageAboutSkillsOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.PageAboutSkillsOneHash {
  width: 20px;
  height: 42px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: var(--primary);
}

.PageAboutSkillsOne h3 {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  /* white */
  margin: 0;
  padding: 0;
  color: var(--white);
  margin-right: 16px;
}

.PageAboutSkillsOneLine {
  width: 40%;
  height: 1px;

  /* primary */

  background: var(--primary);
  margin: 0 10px;
}

/* Skills Tow */
.PageAboutSkillsTow {
  display: flex;
  flex-direction: row;
  column-gap: 55px;
}

.PageAboutSkillsTow-child-2 {
  flex-basis: 100%;
  max-width: 100%
}


@media screen and (max-width: 630px) {
  .PageAboutSkillsTow {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 55px;
    width: 100% 
  }

  .PageAboutSkillsTow-child-1 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .PageAboutSkillsTow-child-2 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


@media screen and (max-width: 275px) { 
  .PageAboutSkillsTow {
    display: flex;
  }
}