/* NavItem */
.NavItemMobile {
  /* Auto layout */

  padding: 0px;

  min-width: 49px;
  height: 21px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* # */
.NavItemHashMobile {
  width: 20px;
  height: 42px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  /* primary */

  color: var(--primary);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.NavItemAMobile {
  width: 39px;
  height: 21px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  /* white */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.NavAll {
  position: relative;
  bottom: 8px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  height: 21px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.NavItemTitleMobile {
  width: 48px;
  height: 21px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  /* gray */

  color: var(--gray);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  transition: all ease 400ms;
}

.NavItemTitleACTIVEMobile {
  color: var(--white) !important;
}

@media screen and (max-width: 630px) {
  .NavAll {
    display: none;
  }
}

@media screen and (min-width: 630px) {
  .NavAll {
    display: flex;
  }
}

/* Social Mobile */
.SocialMobileDIV {
  position: absolute;
  bottom: 36px;
  display: block;
  width: 90%;
}
.SocialMobile {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.SocialMobile  svg:first-child { 

  width: 46px;
}
 
.SocialMobile  svg { 
  cursor: pointer;
 height: 64px;
}
