.ContactMeBtn {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background: var(--primary-background-color);
  color: var(--wihte);

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  height: 37px;

  /* primary */

  border: 1px solid var(--primary);

  cursor: pointer;
  position: relative;
  z-index: 1;

}

.ContactMeBtn a {
  color: var(--wihte);
}

.ContactMeBtn::before {
  content:  "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--primary);
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}

.ContactMeBtn:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 630px) {
  .ContactMeBtn {
    display: none;
  }
}
