.AboutMeTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.AboutMeTitleHash {
  width: 20px;
  height: 42px;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: var(--primary);
}

.AboutMeTitle h3 {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  /* white */
  margin: 0;
  padding: 0;
  color: var(--white);
  margin-right: 16px;
}
.AboutMeTitleLine {
  width: 30%;
  height: 1px;

  /* primary */
  background: var(--primary);
}

.AboutMeContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}

@media screen and (max-width: 630px) {
  .AboutMeContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
