.AboutMeContentOne {
  flex-basis: 40%;
  max-width: 40%;

  font-family: "Fira Code";
  font-style: normal;
  display: inline;
}

.AboutMeContentOne p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  width: 100%;
  margin-top: 23px;
}

.AboutMeContentOne button {
  background: none;
  color: var(--white);
  border: 1px solid var(--primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 8px 16px;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .AboutMeContentOne {
    flex-basis: 100%;
    max-width: 100%;

    font-family: "Fira Code";
    font-style: normal;
    display: inline;
  }
}
