.MyFooterLeft {
  flex-basis: 50%;
  max-width: 50%;

}


.MyFooterLeftOne {
  display: flex;
  flex-direction: row;
}
.MyFooterLeftOne {
  display: flex;
  flex-direction: row;
}
.MyFooterLeft-Logo-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;
}
.MyFooterLeft-Logo-Name img{
  width: 16px;
  height: 16px;
}
.MyFooterLeft-Logo-Name span{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  
  
  /* white */
  
  color: var(--white);
}

.MyFooterLeft-Email {
  font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* gray */

color: var(--gray);
margin-left: 24px;
}

.MyFooterLeftTow {
  font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


/* white */

color: var(--white);

}


@media screen and (max-width: 480px ) { 
  .MyFooterLeft {
    flex-basis: 100%;
    max-width: 100%;
  
  }
  .MyFooterLeftOne {
   justify-content: center;
   text-align: center;
  }
  .MyFooterLeftTow p{
 
   text-align: center;
  }
  
}